Kellie Heckman Task 5 Bonus
05FEb23

Create Contacts DataFrame

In [2]:
import pandas as pd

contacts = [['Mike Green', 'demo1@dietel.com', '5555555555'], ['Sue Brown', 'demo2@deitel.com', '5555551234']]
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email', 'Phone'])
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@dietel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

Import regrex and define user function to reformat phone numbers

In [3]:
import re
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-' .join(result.groups()) if result else value

formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

Replace the old phone column with the newly formatted phone numbers

In [4]:
contactsdf['Phone'] = formatted_phone
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@dietel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234